{% extends "templates/noimg_base.html" %}
{% load static %}

{% block body %}

<section class="login_container">
    <div class="content-section">
        <div class="card text-center mx-auto mt-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title font-weight-bold mb-0">サインアップ</h5>

                <form method="POST" action="">
                {% csrf_token %}

                    <p class="card-text">
                        <br>
                        <div class="mb-3">
                        {{ form.username.label }}
                        {{ form.username }}
                        </div>

                        <div class="mb-3">
                        <h6 class="mb-2">{{ form.email.label }}</h6>
                        {{ form.email }}
                        </div>

                        <div class="mb-3">
                        {{ form.password1.label }}         
                        {{ form.password1 }}
                        </div>
             
                        <div class="mb-3">
                        パスワード確認
                        {{ form.password2 }}
                        </div>

                        <div class="mb-3">
                            {% for mes in message %}
                            <p>{{ mes }}</p>
                            {% endfor %}
                        </div>
                    </p>

                    <button class="btn btn-outline-primary" type="submit">登録</button>
                    <div class="border-top mt-4">
                        <small class="text-muted">
                            アカウントをお持ちの方<a class="ml-2" href="{% url 'login' %}">ログイン</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



{% comment %} <section>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form.username.label }}              
                {{ form.username }}

                {{ form.password1.label }}              
                {{ form.password1 }}

                {{ form.password2.label }}              
                {{ form.password2 }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
</section> {% endcomment %}

{% endblock body %}