{% extends 'templates/base.html' %}
{% load static %}

{% block body %}

    <!-- Work Section Begin from Here -->
    <section id="ig" class="most-search spad">
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="most__search__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    <span class="flaticon-039-fork"></span>
                                    サイエンス
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                    <span class="flaticon-030-kebab"></span>
                                    環境
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                    <span class="flaticon-032-food-truck"></span>
                                    社会
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                    <span class="flaticon-017-croissant"></span>
                                    文化・教育
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab">
                                    <span class="flaticon-038-take-away"></span>
                                    人間
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
                                    <span class="flaticon-031-delivery"></span>
                                    感覚
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="item col-md-2">
                                        <button type="button" id="phisi" data-id="物理" class="button big_category btn btn-outline-primary">物理</button>
                                        <ul class="category_lists">
                                            {% for key, values in phisi.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-2">
                                        <button type="button" id="medi" data-id="医学" class="button big_category btn btn-outline-primary">医学</button>
                                        <ul class="category_lists">
                                            {% for key, values in medi.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-2">
                                        <button type="button" id="chemi" data-id="化学" class="button big_category btn btn-outline-primary">化学</button>
                                        <ul class="category_lists">
                                            {% for key, values in chemi.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-2">
                                        <button type="button" id="tech1_" data-id="技術１" class="button big_category btn btn-outline-primary">技術1</button>
                                        <ul class="category_lists">
                                            {% for key, values in tech1_.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-2">
                                        <button type="button" id="tech2_" data-id="技術２" class="button big_category btn btn-outline-primary">技術2</button>
                                        <ul class="category_lists">
                                            {% for key, values in tech2_.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="item col-md-3">
                                        <button type="button" id="energy" data-id="エネルギー" class="button big_category btn btn-outline-success">エネルギー</button>
                                        <ul class="category_lists">
                                            {% for key, values in energy.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="nature" data-id="自然" class="button big_category btn btn-outline-success">自然</button>
                                        <ul class="category_lists">
                                            {% for key, values in nature.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="agri" data-id="農業" class="button big_category btn btn-outline-success">農業</button>
                                        <ul class="category_lists">
                                            {% for key, values in agri.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="space" data-id="宇宙" class="button big_category btn btn-outline-success">宇宙</button>
                                        <ul class="category_lists">
                                            {% for key, values in space.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="container">
                                    <div class="row">
                                        <div class="item col-md-2">
                                            <button type="button" id="buisiness" data-id="ビジネス" class="button big_category btn btn-outline-warning">ビジネス</button>
                                            <ul class="category_lists">
                                                {% for key, values in buisiness.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                
                                        <div class="item col-md-2">
                                            <button type="button" id="infra" data-id="インフラ" class="button big_category btn btn-outline-warning">医学</button>
                                            <ul class="category_lists">
                                                {% for key, values in infra.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                
                                        <div class="item col-md-2">
                                            <button type="button" id="poli" data-id="政治" class="button big_category btn btn-outline-warning">政治</button>
                                            <ul class="category_lists">
                                                {% for key, values in poli.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                
                                        <div class="item col-md-2">
                                            <button type="button" id="nation" data-id="国" class="button big_category btn btn-outline-warning">国</button>
                                            <ul class="category_lists">
                                                {% for key, values in nation.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                
                                        <div class="item col-md-2">
                                            <button type="button" id="inst1_" data-id="施設１" class="button big_category btn btn-outline-warning">施設１</button>
                                            <ul class="category_lists">
                                                {% for key, values in inst1_.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="item col-md-2">
                                            <button type="button" id="inst2_" data-id="施設２" class="button big_category btn btn-outline-warning">施設２</button>
                                            <ul class="category_lists">
                                                {% for key, values in inst2_.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="item col-md-3">
                                        <button type="button" id="edu" data-id="教育" class="button big_category btn btn-outline-info">教育</button>
                                        <ul class="category_lists">
                                            {% for key, values in edu.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="cust" data-id="習慣" class="button big_category btn btn-outline-info">習慣</button>
                                        <ul class="category_lists">
                                            {% for key, values in cust.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="art" data-id="芸術" class="button big_category btn btn-outline-info">芸術</button>
                                        <ul class="category_lists">
                                            {% for key, values in art.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="life" data-id="生活・暮らし" class="button big_category btn btn-outline-info">生活・暮らし</button>
                                        <ul class="category_lists">
                                            {% for key, values in life.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-5" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="item col-md-4">
                                        <button type="button" id="sense" data-id="五感" class="button big_category btn btn-outline-secondary">五感</button>
                                        <ul class="category_lists">
                                            {% for key, values in sense.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-4">
                                        <button type="button" id="feeling" data-id="感情" class="button big_category btn btn-outline-secondary">感情</button>
                                        <ul class="category_lists">
                                            {% for key, values in feeling.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-4">
                                        <button type="button" id="bp" data-id="ボディパーツ" class="button big_category btn btn-outline-secondary">ボディパーツ</button>
                                        <ul class="category_lists">
                                            {% for key, values in bp.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-6" role="tabpanel">
                            <div class="item">
                                <button type="button" id="feeling" data-id="五感" class="button big_category btn btn-outline-secondary">五感</button>
                                <ul class="category_lists">
                                    {% for key, values in feeling.items %}
                                        <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category  list-group-item list-group-item-action">{{ values }}</button></li>
                                    {% endfor %}
                                        
                                        
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Most Search Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="generator">
            <p id="choice">三つ選択してください</p>
            <div class="generator_container">
                <div class="item">
                    <p id="selected1">選択してください</p>
                </div>
                <div class="item">
                    <p id="selected2">選択してください</p>
                </div>
                <div class="item">
                    <p id="selected3">選択してください</p>
                </div>
                <div class="item">
                    <form method="GET" action="{% url 'posted:post_new' %}">
                        <input type="radio" name="test1" value="" checked>
                        <input type="radio" name="test2" value="" checked>
                        <input type="radio" name="test3" value="" checked>
                        <div class="number">
                        {% csrf_token %}
                        {{ form.as_p }}
                        </div>
                        <input class="submit btn btn-primary btn-lg" type="submit" value="アイデア生成">
                    </form>
                </div>
                <div class="item">
                    <button type="button" id="clear" class="clear btn btn-secondary btn-lg">クリア</button>
                </div>
            </div>     
        </div>
        {% if text %}
        <div class="idea_generated">
            <p>{{ text }} </p>
        </div>
        {% endif %}
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->

    {% endblock body %}
  
    
