{% load static %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<header class="noimg_header">
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul class="ig_nav">
                                <li><a class="text-left" href="{% url 'index' %}">Home</a></li>
                                <li><a class="text-left" href="{% url 'index' %}#ig">遊ぶ</a></li>
                                <li><a class="text-left" href="{% url 'posted:post' %}">みんなの投稿</a></li>
                                <li><a class="text-left" href="{% url 'profile' %}">プロフィール</a></li>
                                {% if not user.is_authenticated %}
                                <li><a class="text-left" href="{% url 'login' %}">ログイン</a></li>
                                {% endif %}
                                {% comment %} <li><a  href="#">Categories</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'listing_details' %}">Listing Details</a></li>
                                        <li><a href="{% url 'blog_details' %}">Blog Details</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="#">Shop</a></li> {% endcomment %}
                            </ul>
                        </nav>
                        <!-- <div class="header__menu__right">
                            <a href="#" class="primary-btn"><i class="fa fa-plus"></i>Add Listing</a>
                            {% if user.is_authenticated %}
                            <div class="dropdown float-right">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'profile' %}">プロファイル</a>
                                    <a class="dropdown-item" href="{% url 'posted:mypost' %}">マイアイデア</a>
                                    
                                </div>
                                
                            {% comment %} <a href="{% url 'profile' %}" class="login-btn"><i class="fa fa-user"></i></a> {% endcomment %}
                            </div>
                            
                            {% endif %}
                            {% if not user.is_authenticated %}
                            <ul class="float-right">
                                <a class="btn btn-info" href="{% url 'login' %}">ログイン</a>
                            </ul>
                            {% endif %}
                        </div> -->
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
</header>


